:root {
  --cor-princpal: #3a3132;
  --cor-secundaria: #0f4571;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 990px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body a:hover {
  color: #eff0d5;
}

body ul {
  list-style: none;
}

body ul li {
  display: inline;
  margin-left: 0.5em;
}

/* --------------------------- CABEÇALHO ------------------------- */

.cabecalho {
  background-color: var(--cor-princpal);
  box-shadow: 10px 0 5px black;
}

.cabecalho .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 0;
}

/* --------------------------- PRINCIPAL ------------------------- */

main h4 {
  text-align: center;
  font-size: 2em;
  margin-top: 2rem;

  text-transform: uppercase;
}

#listaProdutos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2em auto;
}

#listaProdutos img {
  width: 200px;
  height: 200px;
}

#listaProdutos div {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

#listaProdutos a {
  background-color: var(--cor-secundaria);
  padding: 0.5em 1em;
  border-radius: 5px;

  margin-top: 5px;
}

#avisoItemAdicionado {
  display: none;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid rgb(0, 43, 0);
  background-color: rgb(115, 223, 151);

  color: #fff;

  width: 200px;
  margin: 0 auto;
  padding: 20px;
}

.avisoItemNaoAdicionado{
  display: none;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid rgb(49, 0, 0);
  background-color: rgb(230, 111, 111);

  color: #fff;

  width: 200px;
  margin: 0 auto;
  padding: 20px;
}

/* --------------------------- FOOOTER ------------------------- */
.rodape {
  background-color: var(--cor-secundaria);
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 1rem;
}

.rodape .container {
  display: flex;
  justify-content: space-between;
}

.rodape p {
  color: #fff;
  font-weight: bold;
}

/* --------------------------- MAIN (CARRINHO) ------------------------- */
.mainCarrinho {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  align-items: flex-start;

  margin: 10vh auto;
}

.mainCarrinho h4 {
  margin: 0 0 !important;
}

.mainCarrinho hr {
  width: 200px;
}

.mainCarrinho .calculoCarrinho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainCarrinho #carrinhoDeCompra div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 5px;

  width: 70%;

  padding: 10px 10px;

  margin-bottom: 10px;
}

.mainCarrinho #carrinhoDeCompra div img {
  width: 50px;
  height: 50px;
}

.mainCarrinho #carrinhoDeCompra div input {
  width: 30px;
  height: 20px;
}

.botoesCarrinhoDeCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoesCarrinhoDeCompra button {
  width: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;
  background-color: var(--cor-secundaria);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  padding: 1rem 2em;
  cursor: pointer;
}

/* --------------------------- FINALIZAÇÃO PEDIDO ------------------------- */

.divCaminhao {
  width: 700px;
  margin: 0 auto;
}

.divCaminhao p {
  text-align: center;
}

#caminhao {
  width: 200px;
  transition: 0.5s all;
  animation: movimentarCaminhao 2s infinite;
}

@keyframes movimentarCaminhao {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(400px);
  }
}
