:root {
  --cor-princpal: #3a3132;
  --cor-secundaria: #0f4571;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 990px;
  margin: 0 auto;
}

body {
  background-color: aliceblue;
}

body a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body a:hover {
  color: #eff0d5;
}

body ul {
  list-style: none;
}

body ul li {
  display: inline;
  margin-left: 0.5em;
}

/* --------------------------- CABEÇALHO ------------------------- */

.cabecalho {
  background-color: var(--cor-princpal);
  box-shadow: 10px 0 5px black;
}

.cabecalho .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1em 0;
}

/* --------------------------- PRINCIPAL ------------------------- */

main h4 {
  text-align: center;
  font-size: 2em;
  margin-top: 2rem;

  text-transform: uppercase;
}

#listaProdutos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2em auto;
}

#listaProdutos img {
  width: 280px;
  height: 200px;
  border-radius: 10px 10px 0 0;

  box-sizing: border-box;
}

#listaProdutos #item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: none;
  border-radius: 10px;

  box-shadow: 1px 1px 5px black;
  background-color: #fff;
}

#listaProdutos div .informacoesProduto {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0 10px;
  margin: 10px 0;
}

#listaProdutos .informacoesProduto #descricao {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;

  color: #5c5859;
}

#listaProdutos .informacoesProduto #tamanho {
  text-transform: uppercase;
  font-size: 1.2rem;
}

#listaProdutos .informacoesProduto #preco {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  color: #353535;
}

#listaProdutos a {
  background-color: var(--cor-secundaria);
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;

  margin-top: 5px;
  width: 120px;
}

#avisoItemAdicionado {
  display: none;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid rgb(0, 43, 0);
  background-color: rgb(115, 223, 151);

  color: #fff;

  width: 200px;
  margin: 0 auto;
  padding: 20px;
}

/* --------------------------- FOOOTER ------------------------- */
.rodape {
  background-color: var(--cor-secundaria);
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 1rem;
}

.rodape .container {
  display: flex;
  justify-content: space-between;
}

.rodape p {
  color: #fff;
  font-weight: bold;
}

.rodape #amor {
  color: red;
}

/* --------------------------- MAIN (CARRINHO) ------------------------- */
.mainCarrinho {
  display: grid;
  grid-template-columns: 1.2fr 1.3fr 0.5fr;
  align-items: flex-start;

  margin: 10vh auto;
}

.mainCarrinho h4 {
  margin: 0 0 !important;
}

.mainCarrinho hr {
  width: 200px;
}

.mainCarrinho .calculoCarrinho {
  display: flex;
  flex-direction: column;

  justify-self: center;
  font-weight: bold;
}

.mainCarrinho .calculoCarrinho #calculoDoPedido {
  margin-top: 25px;
  margin-bottom: 5px;
  border-bottom: 4px dotted #000;
  width: 150px;
}

.mainCarrinho .botoesCarrinhoDeCompra {
  align-self: center;
}

.mainCarrinho #carrinhoDeCompra div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 2px #919191;

  padding: 10px 10px;

  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: bold;

  background-color: #fff;
}

.mainCarrinho #carrinhoDeCompra div button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
}

.mainCarrinho #carrinhoDeCompra div img {
  width: 50px;
  height: 50px;
}

.mainCarrinho #carrinhoDeCompra div input {
  width: 30px;
  height: 20px;
}

.botoesCarrinhoDeCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoesCarrinhoDeCompra button {
  width: auto;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;
  background-color: var(--cor-secundaria);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  padding: 1rem 2em;
  cursor: pointer;
}

.botoesCarrinhoDeCompra button:hover {
  color: #eff0d5;
}

.mainCarrinho #carrinhoDeCompra i {
  cursor: pointer;
}

/* --------------------------- FINALIZAÇÃO PEDIDO ------------------------- */

.divCaminhao {
  width: 700px;
  margin: 0 auto;
}

.divCaminhao p {
  text-align: center;
}

#caminhao {
  width: 200px;
  transition: 1s all;
  animation: movimentarCaminhao 2s infinite;
}

@keyframes movimentarCaminhao {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(400px);
  }
}
